@font-face {
    font-family: 'icomoon';
    src: url('../static/fonts/icomoon.eot?e2lq4n');
    src: url('../static/fonts/icomoon.eot?e2lq4n#iefix') format('embedded-opentype'),
        url('../static/fonts/icomoon.ttf?e2lq4n') format('truetype'),
        url('../static/fonts/icomoon.woff?e2lq4n') format('woff'),
        url('../static/fonts/icomoon.svg?e2lq4n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* .test {
    font-family: 'icomoon';
    font-size: 20px;
} */

* {
    margin: 0px;
    padding: 0px;
}

.vTangleBox {
    position: relative;
    width: 90px;
    height: 100px;
    margin: 100px auto;
    background-color: pink;
}

.tangle {
    position: absolute;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    font-size: 0px;
    border: 20px solid transparent;
    border-bottom-color: skyblue;
    margin-top: -40px;
}

.lastBox {
    width: 100%;
    height: 100%;
    background-color: skyblue;
}

div>img {
    /* 图片与文字居中 */
    vertical-align: middle;
}


/* 相对定位会压住其他盒子 */
.list {
    position: relative;
    list-style: none;
}

.list>li {

    float: left;
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid black;
    margin-left: -1px;
}

.list>li:hover {
    z-index: 177;
    border: 1px solid skyblue;
}

.vedioBox {
    width: 300px;
    height: 70px;
    margin: 100px auto;
    background-color: pink;
    /* text-indent: 2em; */
}

.vedioBox>img {
    float: left;
    height: 60px;
    width: 120px;
    margin-right: 10px;
}

.navList {
    background-color: pink;
    text-align: center;
}


.navList>a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    /* line-height: 20px; */
    color: black;
}

.navList>div {
    width: 20px;
    height: 20px;
    background-color: #666;
}

.navList>.pre,
.navList>.last {
    width: 100px;
}

.navList>.selected,
.navList>.ig {
    background-color: pink;
    border: 0;
    cursor: default;
}

.navList>input {
    outline: none;
    width: 60px;
}

/* 三角的巧妙应用 */
.costBox {
    position: relative;
    width: 198px;
    height: 28px;
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid red;
}

.costBox .fcost,
.costBox .lcost {
    /* height: 100%; */
    line-height: 28px;
}

.costBox .fcost {

    float: left;
    /* position: relative;
z-index: 1; */
    background-color: red;
    width: 50%;
    text-align: center;
    color: #fff;

}

.costBox .lcost {
    float: right;
    /* position: relative;
    z-index: 1; */
    color: #ccc;
    text-decoration: line-through;
    width: 50%;
    text-align: center;
}

.costBox .cen {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 28px solid transparent;
    border-bottom: 0;
    border-left: 10px solid red;
    border-right: 0;
    /* border-top-color: red; */
    left: 50%;
    /* margin-left: -25px; */
}